---
title: About Us
id: about-us
layout: page
---

%p
  Future Hope People is a help organization and was founded in Ghana in 2003. Since December 2004 it is also registered in Germany under the name Future Hope People Deutschland e.V. at the local court Dortmund.

%h3
  Organization

%p
  The management of the organization consists of the following members:

.person
  = image_tag 'about-us/djarbah.jpg', alt: 'Djarbah Meshach Quarcoo'
  %h4
    Djarbah Meshach Quarcoo
  %p
    President, founder of the organization
    %br
    Social worker in Kissi/Ghana

.person
  = image_tag 'about-us/gabriele.jpg', alt: 'Gabriele Aluko'
  %h4
    Gabriele Aluko
  %p
    First Chairwoman

.person
  = image_tag 'about-us/thomas.jpg', alt: 'Thomas Baumeister'
  %h4
    Thomas Baumeister
  %p
    Public relations, contact person for the schools
    %br
    Headmaster of the Aplerbecker-Mark-Grundschule, Dortmund

.person
  = image_tag 'about-us/manuel.jpg', alt: 'Manuel Meurer'
  %h4
    Manuel Meurer
  %p
    Treasurer, Website maintenance
    %br
    Software developer

%h3
  Our Goals

%p
  A fundamental reason a large section of the population in Ghana is discriminated against is the lack of education. Especially for children education is the key to further progress and a self-determined life. Therefore Future Hope People has the following goals:

%ul
  %li
    Promoting school education for children by supporting the local schools
  %li
    Finding sponsorships for children in need and children whose parents are not able to support their education
  %li
    Establishing environmental projects to promote responsible handling of natural resources
  %li
    Raising awareness of women with insufficient education for their rights
  %li
    Working together with volunteers on-site in Ghana

= images 'about-us'

%h3
  Funding

%p
  Future Hope People is a registered and non-profitable organization. We are funded exclusively through private donations and we pay careful attention to the allocation and usage of the resources we provide.

%p
  The concept of sustainable development and helping people to help themselves are our number one priority. We are convinced that all donated money is best spent in our projects in Ghana. For this reason all our supporters work voluntary and without payment, so we can guarantee that every donation is used solely for its intended purpose without any deductions.

%h3
  Kissi

= image_tag 'about-us/kissi.gif', alt: 'Kissi', id: 'kissi'

%p
  Future Hope People is based in Kissi since 2003. Kissi is approximately 25km west of Cape Coast in the Central Region. The town houses five different schools and has about 1500 residents. But Kissi is not only a "school center", many people come here from surrounding villages to stock up on groceries at the market place. In addition there is a hospital and a radio station in Kissi.

%p
  The Central Region is one of the most densely populated region in Ghana. More than half of the people living here are younger than 18 years. Due to a lack of industry and job opportunities the region is one of the poorest in Ghana.

%h3
  Takinta

= image_tag 'about-us/takinta.jpg', alt: 'Takinta', id: 'takinta'

%p
  Takinta is a village located in the Western Region of Ghana with a population of about 5,200 inhabitants. About 65 percent of the population is below 45 years old. Even though Takinta is not developed in terms of infrastructure, there is portable drinking water and electricity as well as transport means to numerous other parts of Ghana.

%p
  The main occupation in Takinta is coconut farming. The women are normally engaged in producing vegetable oil from dry coconut. Even though this business does not fetch them enough money to live comfortable lives, it has a ready market because people come all the way from Nigeria to buy their products for industrial purposes.

%p
  Future Hope People started supporting the Takinta community in 2006 and over the period of the last years we have supported the education of a lot of children in need and provided some infrastructure as well as education and sports materials to the school. We have also sent about 45 Ghanaian and German volunteers to work there on casual basis and engage the children in creative art and sporting activities.

%p
  Due to the economic hardship and lack of jobs for the young people, they are compelled to cross the border into Ivory Coast, Liberia, and Sierra Leone to live and work there so that they can earn some money to take car of their families back home.

%h3
  Ahobre

= image_tag 'about-us/ahobre.jpg', alt: 'Ahobre', id: 'ahobre'

%p
  In 2009 Future Hope People decided to extend assistance to the neighbors of Takinta known as Ahobre. Unlike Takinta, Ahobre is mainly a fishing community since it is located right next to the shores of the Atlantic ocean.

%p
  Ahobre as a population of about 3,000 people and you can find people from other parts of Ghana living there because of the fishing activities. They speak Nzema, Fante, and Ahanta.

%p
  For a number of years Future Hope People has been supporting the basic school of Ahobre, which many sponsor children attend. Moreover, we have distributed a lot of donations in kind from Germany to children within this community because the poverty level in this village is terribly high. We have also been engaged in projects like creating HIV awareness and environmental programs.
