---
title: Über Uns
id: about-us
layout: page
---

%p
  Future Hope People ist eine Hilfsorganisation und wurde im Jahr 2003 in Ghana gegründet. Seit Dezember 2004 ist sie auch in Deutschland unter dem Namen Future Hope People Deutschland e.V. beim Amtsgericht Dortmund registriert.

%h3
  Organisation

%p
  Der Vorstand des Vereins setzt sich wie folgt zusammen:

.person
  = image_tag 'about-us/djarbah.jpg', alt: 'Djarbah Meshach Quarcoo'
  %h4
    Djarbah Meshach Quarcoo
  %p
    Präsident, Gründer des Vereins
    %br
    Sozialarbeiter in Kissi/Ghana

.person
  = image_tag 'about-us/gabriele.jpg', alt: 'Gabriele Aluko'
  %h4
    Gabriele Aluko
  %p
    Erste Vorsitzende

.person
  = image_tag 'about-us/thomas.jpg', alt: 'Thomas Baumeister'
  %h4
    Thomas Baumeister
  %p
    Öffentlichkeitsarbeit, Kontaktperson zu den Schulen
    %br
    Schulleiter an der Aplerbecker-Mark-Grundschule, Dortmund

.person
  = image_tag 'about-us/manuel.jpg', alt: 'Manuel Meurer'
  %h4
    Manuel Meurer
  %p
    Kassenwart, Pflege der Webseite
    %br
    Software-Entwickler

%h3
  Unsere Ziele

%p
  Ein wesentlicher Grund für die Benachteiligung großer Bevölkerungsgruppen in Ghana ist der Mangel an Bildung. Besonders für Kinder ist Bildung der Schlüssel für die weitere Entwicklung und ein selbstbestimmtes Leben. Daher hat sich Future Hope People folgende Aufgaben zum Ziel gesetzt:

%ul
  %li
    Förderung der Schulbildung von Kindern durch Unterstützung der Schulen vor Ort
  %li
    Organisation von Patenschaften für bedürftige Kinder und solche, deren Eltern nicht für die Schulbildung aufkommen können
  %li
    Einrichtung von Umweltprojekten zur Entwicklung eines verantwortlichen Umgangs mit natürlichen Ressourcen
  %li
    Sensibilisierung von Frauen mit mangelhafter Bildung für ihre Rechte
  %li
    Zusammenarbeit mit Freiwilligen in Ghana

= images 'about-us'

%h3
  Finanzierung

%p
  Future Hope People ist ein eingetragener gemeinnütziger Verein. Wir finanzieren uns ausschließlich über private Spenden und achten bei der Zuteilung und Verwendung unserer Mittel sehr genau auf den jeweiligen Verwendungszweck.

%p
  Die Ideen einer nachhaltigen Entwicklung und der Hilfe zur Selbsthilfe stehen dabei immer im Vordergrund. Gemeinsam sind wir der Überzeugung, dass jeder Euro in unseren Projekten vor Ort am besten aufgehoben ist. Aus diesem Grund arbeiten alle Unterstützer ehrenamtlich und wir garantieren, dass jede Spende ohne Abzüge direkt in unsere Arbeit investiert wird.

%h3
  Kissi

= image_tag 'about-us/kissi.gif', alt: 'Kissi', id: 'kissi'

%p
  Future Hope People ist seit dem Jahr 2003 in dem Dorf Kissi ansässig. Es liegt ca. 25km westlich von Cape Coast in der Central Region. Das Dorf mit fünf verschiedenen Schulen hat schätzungsweise 1500 Einwohner. Aber Kissi ist nicht nur ein "Schulzentrum", sondern es kommen auch viele Bewohner aus den umliegenden Dörfern hierher, um sich auf dem täglichen Markt mit Lebensmittel einzudecken. Es gibt darüber hinaus ein Krankenhaus und eine Radiostation in Kissi.

%p
  Die Central Region ist eine dichtbevölkerte Region in Ghana. Mehr als die Hälfte der Menschen sind jünger als 18 Jahre. Die Region ist aufgrund fehlender Industrie und Beschäftigungsmöglichkeiten von Armut geprägt und eine der bedürftigsten Regionen Ghanas.

%h3
  Takinta

= image_tag 'about-us/takinta.jpg', alt: 'Takinta', id: 'takinta'

%p
  Takinta ist ein Dorf in der westlichen Region von Ghana und hat ca. 5.200 Bewohner. 65% der Menschen sind jünger als 45 Jahre. Obwohl die Infrastruktur in Takinta nicht gut entwickelt ist, gibt es für alle Bewohner sowohl Trinkwasser und Elektrizität als auch Transportmöglichkeiten in die anderen Regionen von Ghana.

%p
  Der weitverbreitetste Beruf in Takinta ist Kokosnussfarmer. Die Frauen des Dorfs arbeiten hauptsächlich an der Verarbeitung der trockenen Kokosnüsse in Öl. Auch wenn dieses Geschäft den Bewohnern nicht genug Geld einbringt, um ein komfortables Leben zu führen, gibt es für Kokosnussöl einen großen Bedarf und Menschen kommen aus Nachbarländern wie Nigeria, um Öle für die industrielle Verarbeitung zu kaufen.

%p
  Future Hope People hat im Jahr 2006 damit begonnen, die Dorfgemeinschaft in Takinta zu unterstützen und hat seitdem sowohl die Ausbildung von vielen Kindern aus armen Familien finanziert als auch Infrastruktur aufgebaut und der lokalen Schule Ausbildungs- und Sportmaterialien zur Verfügung gestellt. Darüber hinaus haben wir ca. 45 ghanaische und deutsche Freiwillige in das Dorf vermittelt, die unter anderem mit den Kindern des Dorfes kreative und sportliche Unternehmungen durchgeführt haben.

%p
  Da die Zukunftsaussichten für junge Menschen in Takinta aufgrund der schlechten Jobsituation eher düster sind, reisen viele in die Nachbarländer Elfenbeinküste, Liberia und Sierra Leone, um dort zu arbeiten und etwas mehr Geld als in Ghana zu verdienen und damit ihre Familien zuhause zu unterstützen.

%h3
  Ahobre

= image_tag 'about-us/ahobre.jpg', alt: 'Ahobre', id: 'ahobre'

%p
  Seit 2009 unterstützt Future Hope People auch ein Nachbardorf Takintas namens Ahobre. Während die Menschen in Takinta hauptsächlich vom Kokosnussanbau leben, ist Ahobre ein Fischerdorf, das direkt in der Nähe der Atlantikküste liegt.

%p
  In Ahobre wohnen ca. 3000 Menschen, ein Großteil davon ist aus anderen Teilen Ghanas hierher gezogen, um als Fischer zu arbeiten. Die lokalen Sprachen sind Nzema, Fante und Ahanta.

%p
  Future Hope People unterstützt seit mehreren Jahren die Grundschule in Ahobre, in die auch viele Patenkinder des Vereins gehen. Darüber hinaus hat der Verein in Ahobre viele Sachspenden aus Deutschland verteilt, da die Armut in diesem Dorf sehr hoch ist. Es wurden ausserdem Projekte zur Sensibilisierung für HIV und Umweltkampagnen durchgeführt.
