---
title: Helfen
id: help
layout: page
---

%p
  Es gibt viele Möglichkeiten, wie Sie Future Hope People unterstützen können!

%p
  Mit Ihrer Hilfe tragen Sie dazu bei, unsere bestehende Arbeit vor Ort weiterzuführen und neue Projekte zu ermöglichen. Sie helfen mit, das Gesicht dieser Welt ein kleines Stück zu verändern und Kindern ihren Weg in eine selbstbestimmte Zukunft zu ebnen!

%h3
  Spenden

%p
  Geldspenden sind der einfachste und schnellste Weg, unsere Arbeit zu fördern. Jeder Euro hilft uns, daher gibt es keinen Mindestbetrag und Sie können selbst entscheiden, wie hoch Ihre Spende sein soll. Wir im Gegenzug gewährleisten, dass Ihre Spende
  %strong
    direkt und ohne Abzüge
  eingesetzt wird und somit die Projekte optimal unterstützt.

= images 'help-1'

%p
  Sie können Ihre Spende entweder direkt auf unser Vereinskonto überweisen (bei Überweisungen aus dem Ausland benutzen Sie bitte die angegebenen IBAN- und BIC-Nummern) oder die Webseite Betterplace benutzen. Betterplace ist eine Plattform, die es Hilfsorganisationen ermöglicht, sich und ihre Projekte einem breiten Publikum zu präsentieren. Wenn Sie über Betterplace spenden, brauchen Sie dort kein separates Konto einzurichten und haben die Möglichkeit, uns Ihre Spende per Paypal, Kreditkarte oder Bankeinzug zukommen zu lassen. Spenden über Betterplace sind absolut sicher und werden ohne Abzug an unsere Organisation weitergeleitet.

%p
  Falls Sie für ein bestimmtes Projekt spenden wollen, vermerken Sie dies bitte bei Ihrer Spende.

%p
  Als Spender können Sie natürlich eine Spendenbescheinigung zur Vorlage beim Finanzamt erhalten. Wenn Sie per Banküberweisung spenden, teilen Sie uns hierfür bitte kurz Ihre Postanschrift per
  = mail_to 'info@future-hope-people.de', 'Email'
  mit. Wenn Sie über Betterplace spenden, bekommen Sie automatisch eine Spendenbescheinigung zugeschickt.

%p
  %br
  %strong
    Unser Spendenkonto:

%table#donation-account
  %tr
    %th
      Kontoinhaber
    %td
      Future Hope People Deutschland e.V.
    %td{ rowspan: 6 }
      = link_to 'Spenden Sie via Betterplace!', 'https://www.betterplace.org/de/organisations/193-future-hope-people-deutschland-e-v', title: 'Spenden Sie via Betterplace!', id: 'betterplace-link', target: '_blank'
  %tr
    %th
      Kontonummer
    %td
      1771898
  %tr
    %th
      Bank
    %td
      Sparda Bank West eG
  %tr
    %th
      BLZ
    %td
      36060591
  %tr
    %th
      IBAN
    %td
      DE10360605910001771898
  %tr
    %th
      BIC
    %td
      GENODED1SPE

%h3
  Patenschaften

%p
  Patenschaften sind ein wichtiger Bestandteil unsere Projektarbeit. Der Mangel an Bildung ist eines der Hauptprobleme, mit denen sich Kinder und Jugendliche in Ghana konfrontiert sehen. Viele Familien leben in ärmlichen Verhältnissen und besitzen nicht die finanziellen Möglichkeiten, ihren Kindern eine Schulbildung zu ermöglichen.

%p
  Aus einer Vielzahl benachteiligter Kinder wählt Future Hope People die besonders bedürftigen und versucht, sie für eine Patenschaft zu vermiteln. Unsere Patenschaften sind langfristig ausgelegt und geben diesen Kindern die Möglichkeit, regelmäßig die Schule zu besuchen.

%p
  Eine Patenschaft beläuft sich auf 15 Euro monatlich und beinhaltet:

%ul
  %li
    Schuluniform
  %li
    Schulmaterialien (Bücher, Hefte, Stifte usw.)
  %li
    Mahlzeiten in der Schule

%p
  Ein Teil des Geldes der Patenschaften wird für unsere Projektarbeit verwendet und hilft damit allen Kindern der jeweiligen Schule. Im Gegensatz zu anderen Einrichtungen, bei denen die unterstützten Kinder häufig anonym bleiben, unterstützen wir den Kontakt zwischen Paten und Kindern. Sie können Ihrem Patenkind zudem jederzeit schreiben und erhalten auch regelmäßig Kopien der Zeugnisse, die seine Lernfortschritte dokumentieren.

%p
  %strong
    Um eine Patenschaft zu übernehmen, laden Sie bitte das
    = link_to 'Antragsformular für eine Patenschaft', '/documents/Future Hope People Patenschaftsantrag.pdf'
    herunter und schicken Sie es ausgefüllt und unterschrieben per Post an die Adresse, die auf dem Formular vermerkt ist. Wir werden uns möglichst bald mit Informationen und Fotos eines Kindes melden, das aktuell eine Patenschaft sucht.

= images 'help-2'

%h3
  Mitgliedschaft

%p
  Werden Sie Mitglied und unterstützen Sie auf diese Weise kontinuierlich unsere Arbeit!

%p
  Als gemeinnütziger Verein finanzieren wir uns ausschließlich über Spenden und Mitgliedsbeiträge. Doch nur regelmäßige Mitgliedsbeiträge geben unserer Organisation ein wenig Sicherheit und erlauben es uns, ein Stück weit in die Zukunft zu planen.

%p
  Als Mitglied erhalten Sie regelmäßig Informationen über die Hintergründe unserer Arbeit und unsere derzeitigen Förderprojekte. Der Mitgliedsbeitrag beläuft sich auf 20 Euro jährlich, kann aber auf eigenen Wunsch auch höher sein.

%p
  Um Mitglied zu werden, schicken Sie uns einfach den ausgefüllten
  = link_to 'Mitgliedsantrag', '/documents/Future Hope People - Mitgliedsantrag.pdf', title: 'Mitgliedsantrag', target: '_blank'
  zu oder nehmen Sie mit uns
  = link_to 'Kontakt', '/de/contact.html'
  auf.

%h3
  Freiwillige Arbeit

%p
  Future Hope People bietet Freiwilligen die Möglichkeit, nach Ghana zu kommen und uns aktiv vor Ort zu unterstützen. Zudem haben Studenten die Möglichkeit, bei uns ein studien- oder berufsbezogenes Praktikum in den Feldern Jugend- und Bildungsarbeit zu machen.

%p
  Teilnehmer unseres Freiwilligenprogramms engagieren sich aktiv in einem unserer Projekte und lernen gleichzeitig bei Ausflügen und Aktivitäten das Land und seine Kultur kennen. Eine Mindestpraktikumsdauer von einem Monat ist sinnvoll, diese kann auf Wunsch aber problemlos verlängert werden. Die An- und Abreisekosten müssen von den Freiwilligen selber getragen werden. Die Kosten für Unterkunft und Verpflegung betragen 350 Euro pro Monat.

%p
  Die folgenden Erfahrungsberichte geben Ihnen einen kleinen Einblick in die Erfahrungen einiger Freiwilliger vor Ort:

.experience-reports

  = link_to 'Erfahrungsbericht Julia', '/documents/Future Hope People - Erfahrungsbericht Julia.pdf',  title: 'Erfahrungsbericht Julia',  target: '_blank', class: 'first'
  = link_to 'Erfahrungsbericht Helga', '/documents/Future Hope People - Erfahrungsbericht Helga.pdf',  title: 'Erfahrungsbericht Helga',  target: '_blank'
  = link_to 'Erfahrungsbericht Thomas', '/documents/Future Hope People - Erfahrungsbericht Thomas.pdf', title: 'Erfahrungsbericht Thomas', target: '_blank'
  = link_to 'Erfahrungsbericht Eva', '/documents/Future Hope People - Erfahrungsbericht Eva.pdf',    title: 'Erfahrungsbericht Eva',    target: '_blank'
  = link_to 'Erfahrungsbericht Nicola', '/documents/Future Hope People - Erfahrungsbericht Nicola.pdf', title: 'Erfahrungsbericht Nicola', target: '_blank'

%p
  Um mehr Informationen über freiwillige Arbeit vor Ort zu bekommen, nehmen Sie bitte
  = link_to 'Kontakt', '/de/contact.html'
  zu uns auf!
