---
title: Help
id: help
layout: page
---

%p
  There are many possible ways for you to support Future Hope People!

%p
  Your help enables us to continue our work on site and plan and execute new projects. With your support we can make the world a little bit better and help children to find their way into a self-determined future!

%h3
  Donations

%p
  Donations are the easiest and fastest way to support our work. Every Euro counts, that is why there is no minimum donation amount and you can decide for yourself how much you want to give. In return we guarantee that each donation is used
  %strong
    fully and without deductions
  for project work.

= images 'help-1'

%p
  You either donate by wire transfer to our German donation account (when transferring from a country other than Germany, please use the IBAN and BIC numbers) or by using the website Betterplace. Betterplace is a project that gives help organizations a platform to present themselves to a broad audience. If you donate via Betterplace you don't have to create a separate account and you can use Paypal, credit cart or direct debit (from a German bank account). Donations via Betterplace are absolutely secure and forwarded to our organization without deductions.

%p
  If you want to support a specific project with your donation, please note that in an appropriate field when donating.

%p
  As a donator you can receive a donation receipt for tax deduction purposes. If you donate via wire transfer, please send us a quick
  = mail_to 'info@future-hope-people.de', 'email'
  to let us know the address we can send the donation receipt to. If you donate via Betterplace, you will automatically receive a donation receipt.

%p
  %br
  %strong
    Our donation account:

%table#donation-account
  %tr
    %th
      Account holder
    %td
      Future Hope People Deutschland e.V.
    %td{ rowspan: 6 }
      = link_to 'Donate via Betterplace!', 'https://www.betterplace.org/de/organisations/futurehopepeople/iframe_donations/new?utm_campaign=donate_btn_for_orgs&utm_content=futurehopepeople&utm_medium=external_banner&utm_source=orgs', title: 'Spenden Sie via Betterplace!', id: 'betterplace-link', target: '_blank'
  %tr
    %th
      Account number
    %td
      1771898
  %tr
    %th
      Bank
    %td
      Sparda Bank West eG
  %tr
    %th
      Bank code
    %td
      36060591
  %tr
    %th
      IBAN
    %td
      DE10360605910001771898
  %tr
    %th
      BIC
    %td
      GENODED1SPE

%h3
  Sponsorships

%p
  Sponsorships are an important part of our organization's work. The lack of education is one of the main problems that children and teenagers in Ghana are confronted with. Many families live in poor circumstances and do not have the necessary means to enable their kids a school education.

%p
  From among the many underprivileged children Future Hope People chooses those who live in especially dire circumstances and tries to find sponsorships for them. Our sponsorships are construed for long-term support and enable these children to go to school regularly.

%p
  A sponsorship amounts to 15 Euro per month and includes:

%ul
  %li
    School uniform
  %li
    School supplies (Books, notebooks, pens etc.)
  %li
    Meals in school

%p
  A part of the sponsorship money is used for our project work and thus helps all children of that specific school. Contrary to other organizations where the sponsored children often stay anonymous we encourage the contact between sponsors and children. You can always send your sponsored child a letter and you will receive copies of school reports which document your child's school progress.

%p
  %strong
    To become a sponsor please download the
    = link_to 'sponsorship application form', '/documents/Future Hope People Patenschaftsantrag.pdf'
    (in German) and send a filled in and signed copy to the address noted on the form. We will contact you as soon as possible with information and photos of a child that is currently looking for a sponsorship!

= images 'help-2'

%h3
  Membership

%p
  Become a member and continuously support our work!

%p
  As a non-profit organization we are funded exclusively by donations and membership fees. But only recurring membership fees give the organization some stability and enable us to plan ahead.

%p
  Members receive information about the background of your work and our current projects regularly. The membership fee is 20 Euros per year but can be higher if desired.

%p
  To become a member please fill out the
  = link_to 'membership application', '/documents/Future Hope People - Mitgliedsantrag.pdf', title: 'membership application', target: '_blank'
  and send it to us or just get in
  = link_to 'contact', '/en/contact.html'
  with us.

%h3
  Voluntary work

%p
  Future Hope People offers volunteers the possibility to come to Ghana and actively support our work. There is also the possibility for students to do a study or work related internship in the fields of social work, youth and educational work.

%p
  A stay in Ghana consists of development work and cultural exchange and the attendants actively work in one of our projects while they get to know the country and its culture during excursions and other activities. A minimum stay of one month in Ghana is reasonable. Traveling expenses have to be paid by the attendant and the cost for board and lodging are 350 Euro per month.

%p
  The following experience reports (in German) provide you an insight into the experiences of some of our volunteers:

.experience-reports

  = link_to 'Experience report Julia', '/documents/Future Hope People - Erfahrungsbericht Julia.pdf',  title: 'Experience report Julia',  target: '_blank', class: 'first'
  = link_to 'Experience report Helga', '/documents/Future Hope People - Erfahrungsbericht Helga.pdf',  title: 'Experience report Helga',  target: '_blank'
  = link_to 'Experience report Thomas', '/documents/Future Hope People - Erfahrungsbericht Thomas.pdf', title: 'Experience report Thomas', target: '_blank'
  = link_to 'Experience report Eva', '/documents/Future Hope People - Erfahrungsbericht Eva.pdf',    title: 'Experience report Eva',    target: '_blank'
  = link_to 'Experience report Nicola', '/documents/Future Hope People - Erfahrungsbericht Nicola.pdf', title: 'Experience report Nicola', target: '_blank'

%p
  To get more information about voluntary work, please get in
  = link_to 'contact', '/en/contact.html'
  with us.
