---
title: Partners
id: partners
layout: page
---

%p
  If you want to exchange links or become partner, please get in
  = link_to 'contact', '/en/contact.html'
  with us.

%table#partners
  %tr
    %td
      = link_to 'http://www.lichtendorfer-gs.de/', title: 'Lichtendorfer Grundschule', target: '_blank' do
        = image_tag 'partners/lichtendorfer-grundschule.png', alt: 'Lichtendorfer Grundschule'
    %td.description
      Lichtendorfer Grundschule

  %tr
    %td
      = link_to 'http://www.aplerbecker-mark-gs.de/', title: 'Aplerbecker Mark Grundschule', target: '_blank' do
        = image_tag 'partners/aplerbecker-mark-grundschule.png', alt: 'Aplerbecker Mark Grundschule'
    %td.description
      Aplerbecker Mark Grundschule

  %tr
    %td
      = link_to 'http://grundschule-bueren.de/unsere-partnerschule.html', title: 'Regenbogenschule Büren', target: '_blank' do
        = image_tag 'partners/regenbogenschule-bueren.jpg', alt: 'Regenbogenschule Büren'
    %td.description
      The Regenbogenschule (rainbow school) Büren was our partner school from the very beginning. After this school we named our school in Ghana.

  %tr
    %td
      = link_to 'http://lernelaufen.de', title: 'LerneLaufen.de', target: '_blank' do
        = image_tag 'partners/lernelaufen.png', alt: 'LerneLaufen.de'
    %td.description
      The running school "Schritt für Schritt" ("Step by step") from the Vulkaneiffel supported Future Hope People in 2009 with a charity run.
      = surround '(', ')' do
        = link_to 'Press release', 'http://www.eifelzeitung.de/?artikel=50617', target: '_blank'

  %tr
    %td
      = link_to 'http://grundschule-friedrich-harkort.de/wb/pages/patenschule.php', title: 'Friedrich-Harkort Grundschule', target: '_blank' do
        = image_tag 'partners/friedrich-harkort-grundschule.png', alt: 'Friedrich-Harkort Grundschule'
    %td.description
      The Friedrich Harkort school supports Future Hope People for many years already. This is one of the schools where we perform regular drumming courses in November.

  %tr
    %td
      = link_to 'http://www.vzuo.org/', title: 'Verein zur Unterstützung Osteuropas e.V.', target: '_blank' do
        = image_tag 'partners/vzuo.jpg', alt: 'Verein zur Unterstützung Osteuropas e.V.'
    %td.description
      The VzUO is an association supporting educational and social institutions in Eastern europe by supplying them with refurbished PCs. They have supported our organisation many times over the years with PCs and laptops for our computer schools.
