---
title: Partner
id: partners
layout: page
---

%p
  Wenn Sie mit uns Links tauschen oder Partner werden wollen, nehmen Sie bitte
  = link_to 'Kontakt', '/de/contact.html'
  mit uns auf!

%table#partners
  %tr
    %td
      = link_to 'http://www.lichtendorfer-gs.de/', title: 'Lichtendorfer Grundschule', target: '_blank' do
        = image_tag 'partners/lichtendorfer-grundschule.png', alt: 'Lichtendorfer Grundschule'
    %td.description
      Lichtendorfer Grundschule

  %tr
    %td
      = link_to 'http://www.aplerbecker-mark-gs.de/', title: 'Aplerbecker Mark Grundschule', target: '_blank' do
        = image_tag 'partners/aplerbecker-mark-grundschule.png', alt: 'Aplerbecker Mark Grundschule'
    %td.description
      Aplerbecker Mark Grundschule

  %tr
    %td
      = link_to 'http://grundschule-bueren.de/unsere-partnerschule.html', title: 'Regenbogenschule Büren', target: '_blank' do
        = image_tag 'partners/regenbogenschule-bueren.jpg', alt: 'Regenbogenschule Büren'
    %td.description
      Die Regenbogenschule Büren ist unsere Partnerschule der ersten Stunde. Nach Ihr haben wir unsere Schule in Ghana benannt.

  %tr
    %td
      = link_to 'http://lernelaufen.de', title: 'LerneLaufen.de', target: '_blank' do
        = image_tag 'partners/lernelaufen.png', alt: 'LerneLaufen.de'
    %td.description
      Die Laufschule "Schritt für Schritt" aus der Vulkaneifel unterstützte Future Hope People im Jahr 2009 mit einem eigenen Benefizlauf.
      = surround '(', ')' do
        = link_to 'Presseartikel', 'http://www.eifelzeitung.de/?artikel=50617', target: '_blank'

  %tr
    %td
      = link_to 'http://grundschule-friedrich-harkort.de/wb/pages/patenschule.php', title: 'Friedrich-Harkort Grundschule', target: '_blank' do
        = image_tag 'partners/friedrich-harkort-grundschule.png', alt: 'Friedrich-Harkort Grundschule'
    %td.description
      Die Friedrich Harkort Schule unterstützt Future Hope People seit vielen Jahren. Hier finden unter anderem unsere regelmäßigen Trommelkurse im November statt.

  %tr
    %td
      = link_to 'http://www.vzuo.org/', title: 'Verein zur Unterstützung Osteuropas e.V.', target: '_blank' do
        = image_tag 'partners/vzuo.jpg', alt: 'Verein zur Unterstützung Osteuropas e.V.'
    %td.description
      Der VzUO ist eine Organisation, die pädagogische und soziale Einrichtungen in Osteuropa mit gebrauchten Computern ausstattet. Auch unsere Organisation wurde über die Jahre mehrmals mit Laptops und PCs unterstützt.
