---
title: Projects
id: projects
layout: page
---

%p
  The projects Future Hope People develops, funds and carries out are small projects in local village communities. The basic principle we pursue is helping people to help themselves, i.e., we fund building materials, provide guidance and support and overlook the project. Our projects are aimed at improving and building educational facilities and support street work with children and teenagers.

%h3
  Current projects

%p
  You can find an overview over our current projects on our
  = link_to 'Facebook page!', 'https://www.facebook.com/FutureHopePeople'

%h3
  Completed projects

%h4#teachers-lounge
  Construction of a teacher's lounge
%p
  This project included the construction and furnishing of a teacher's lounge at the Kissi English and Arabic School.
%p
  The school has been in need of a teacher's lounge for the 14 teachers who work there for a long time. Now finally with the help of many people (builders, pupils and volunteers) the teacher's lounge was built and furnished. Additionally, the class rooms have be supplied with proper blackboards since the current ones are made of concrete and thus hard to write on.
%p
  In the beginning pipes were installed for drainage to avoid the teacher's lounge to be flooded during heavy rainfalls. Moreover, reinforcement was placed in the ground to guarantee the stability for the whole building.
%p
  After that the foundation walls were erected and additional steel reinforcements were placed in the walls. Following that, window and door frames were timbered and installed. The remaining open areas were bricked up.
%p
  Once the building shell was done, the interior works of the teacher's lounge were next. All electric wires were put in place and the room was furnished with benches and tables. Afterwareds, the building has been plastered and in the end it was painted in the colors of the rest of the school. The old concrete boards in the class room were replaced by new, modern whiteboards which will make the lives of teachers and pupils much easier
= images 'projects/teachers-lounge'

%h4#bath-house
  Community Bath House and Portable Drinking Water
%p
  This project, for which the planning started in early 2015, was the construction of a community bath house and provisioning of portable drinking water for the Kyiase community, which is a community next to our main location Kissi.
%p
  We selected this project from four project applications that we received and the main criteria were the benefits and positive effects it will have on the children, women, and physically challenged people in that community.
%p
  Kyiase is a farming community with a population of about 2,800 people of which the majority are children and women.
%p
  The main occupations of the inhabitants are hunting of bush animals and peasant farming. This means that the majority of the people in this community are suffering from abject poverty and are not able to eat two meals per day.
%p
  Due to the unavailability of pipe-born water, sanitation is also a huge problem which causes cholera and Malaria outbreaks almost every year. The provision of a public bath house and portable drinking water as well as water reservoirs will go a long way to help curb these problems and also promote the interest of formal education among the youth.
%p
  Another problem is that it takes children hours every morning to fetch water from long distances to take a bath before going to school and this often causes them to arrive at school late.
%p
  The first phase was to raise the structure for the bath house. After that the second phase was to install plumbing and pour the floor concrete, whilst the last phase was to tap fresh water from the main pipeline as well as install the water reservoirs and finish all the tile work on the floor and walls.
%p
  The role of the community in this project was to provide unskilled labour, whilst Future Hope People was responsible for providing all the raw materials and also pay for the skilled labour as well as supervise the project from beginning to the end.
%p
  On September 1, 2017, the official ceremonial opening of the bath house took place. In the community house of Kyiase many invited guests and people from the surrounding villages met and started the ceremony with semons of a priest from Kyiase. After the official swearing-in of the bath house caretakers, who will guarantee an uninterrupted activity, the key was officially handed over. At the same time the two local football teams of Kyiase received new football jearseys which were donated by Future Hope People. A procession to the bath house was led by the tribal elder from Kyiase.
= images 'projects/bath-house'
%p
  You can find many more pictures of this project on
  = succeed '!' do
    = link_to 'our Facebook page', 'https://www.facebook.com/pg/FutureHopePeople/photos/?tab=album&album_id=1028594653834545'

%h4#volunteer-house
  Volunteer House
%p
  Our organization has seen a lot of help from volunteers from Germany and other countries since the very beginning. Being a small organization, we often only had limited possibilities of accommodation.
%p
  We changed this in 2014 by constructing a house especially for our volunteers. Here they can have a relatively comfortable stay with a well equipped kitchen and bathrooms in European standard. The house is also used as the main office of Future Hope People in Kissi.
= images 'projects/volunteer-house'
%p
  You can find more pictures of the volunteer house on
  = succeed '.' do
    = link_to 'our Facebook page', 'https://www.facebook.com/media/set/?set=a.806009309426415.1073741830.804793566214656'

%h4#computer-classrooms
  Computer classrooms
%p
  Similar to the computer school project in Kissi, we equipped two schools in the neighboring towns of Ahobre and Takinta with computers. Both schools had additional classrooms which could be used for the computers, so no new rooms had to be built. The classrooms that house the computers were fortified with burglarproof gates and windows and electricity outlets were installed.
%p
  The project ended in June 2013 at which point there was a presentation ceremony.
= images 'projects/computer-classrooms'

%h4#computer-school
  Computer school
%p
  Our major project between the years of 2009 and 2012 was constructing a computer school in the town of Kissi.
= images 'projects/computer-school'
%p
  Since the project has finished successfully in 2012, the computer school now serves four schools in the area and gives the teachers and pupils the possibility to learn to work with a computer and the Internet. This school is unique in the area in that nowhere else children and teachers have access to this kind of equipment.
%p
  The project included several stages: after the first stage, the structural brickwork, was completed in 2009, the second phase started in early 2010 and consisted of interior fittings and furniture. After that the computers, which were donated by our partner
  = succeed ',' do
    = link_to 'VzUO', 'http://www.vzuo.org/', title: 'Verein zur Unterstützung Osteuropas e.V.', target: '_blank'
  were shipped to Ghana and mounted in the computer school.
%p
  You can read the official project description (in German)
  = succeed '.' do
    = link_to 'here', '/documents/Future Hope People - Projektbeschreibung Computerschule.pdf', title: 'Future Hope People - Projektbeschreibung Computerschule', target: '_blank'

%h4#school-furniture
  School furniture
%p
  Our construction project 2008, the manufacturing of 120 school chairs and tables for the Kissi E/A school, was completed successfully in September 2008.
%p
  The incentive for this project was the insufficient number of chairs and tables in the class rooms of the Kissi E/A school. Many children had to sit on the floor during class. Now that the new furniture was provided, each child has its own seat and chair.
= images 'projects/school-furniture'
%p
  All furniture was manufactured by the local carpenter's shop in Kissi. Future Hope People's responsibility was the organization and transport of the building materials. The cost of the project was approx. 2,200 Euro. We want to thank all donators and supporters of this project!
%p
  You can find more information about this project on the
  = succeed '.' do
    = link_to 'project page at Betterplace', 'https://www.betterplace.org/de/projects/284-schulen-helfen-heisst-bildung-ermoglichen', taget: '_blank'

%h4#youth-club
  Youth club in Kissi
%p
  In the year 2008 Future Hope People partnered with the Kissi E/A school to found a youth club, where two to three times a week about 25 children and teenagers meet.
= images 'projects/youth-club'
%p
  The purpose and goal of the youth club is to give those children a place they can always come to and to organize activities together. While the children do sports and go on excursions, they also learn to read and write. Under direction of Mr. Smeed, a voluntary assistant of Future Hope People, a dancing group was founded for the Yam festival which performed with great success. Volunteers from Germany support the project regularly and take part in planning and executing the activities.
%p
  The plan for the future is to found more youth clubs in neighboring communities.

%h4#sanitary-buildings
  Project 2007: Construction of sanitary buildings for two schools
%p
  Many schools in Ghana do not have any sanitary facilities or they are in a very poor condition. Fact is however that toilets are equally important for a functioning school like class rooms. That is why Future Hope People took on the construction of sanitary facilities in the schools of the communities of Kissi and Takinta. Both facilities were completed in 2007.
= images 'projects/sanitary-buildings'

%h4#school-building
  School building
%p
  Education is a valuable asset everywhere in the world. In a developing nation like Ghana, where 38% of the population are below 15 years of age, it is even more important. School buildings in Ghana are mostly simple and functional, consisting of three class rooms in a one story building. The number of children in a class is 50 or more. Unfortunately many schools do not have enough class rooms to accommodate all children.
= images 'projects/school-building'
%p
  That is why Future Hope People decided in 2005 on its own initiative to build a school in Kissi, its main location. The school building consists of five class rooms and a faculty room. The construction costs were approx. 10,000 Euros, a sum that seems low for Western standards considering all construction costs were covered. The community of Kissi on the other hand could have never afforded such a sum. On 8 July 2006 the inauguration ceremony was held which the minister of state attended.
