---
title: Projekte
id: projects
layout: page
---

%p
  Die von Future Hope People geförderten und durchgeführten Projekte sind Kleinprojekte lokaler Dorfgemeinschaften. Sie verfolgen das Grundprinzip der Hilfe zur Selbsthilfe, d.h. Future Hope People finanziert die Baumaterialien, gibt Anleitungen und Hilfestellungen und begleitet die Ausführung der Maßnahmen. Unsere Projekte dienen der Verbesserung der Bildungsinfrastruktur und der Jugendarbeit in der entsprechenden Region.

%h3
  Aktuelle Projekte

%p
  Eine Übersicht unserer aktuellen Projekte finden Sie auf unserer
  = link_to 'Facebook-Seite!', 'https://www.facebook.com/FutureHopePeople'

%h3
  Abgeschlossene Projekts

%h4#teachers-lounge
  Bau eines Lehrerzimmers
%p
  Dieses Projekt beinhaltete den Bau und die Ausstattung des Lehrerzimmers an der Kissi English and Arabic School.
%p
  Die Schule benötigte schon seit langem ein Lehrerzimmer für die 14 dort arbeitenden Lehrerinnen und Lehrer. Nun endlich wurde mit Hilfe von allen Beteiligten (Bauarbeitern, Schülerinnen und Schülern und freiwilligen Helfern) das Lehrerzimmer gebaut und ausgestattet. Zudem haben die Klassenräume nun endlich richtige Tafeln erhalten, da die bisherigen aus Beton und somit schwierig zu beschreiben waren.
%p
  Zu Beginn wurden Rohre als Drainage verlegt, um zu vermeiden, dass das Lehrerzimmer bei schweren Regenfällen überflutet wird oder der Boden aufweicht. Zusätzlich wurde Armierung in den Boden eingelassen, um Stabilität für das gesamte Gebäude zu gewährleisten.
%p
  Dann wurden die Grundmauern errichtet und weitere Stahlarmierung in die Wände eingelassen. Anschließend wurden die Fenster- und Türrahmen gezimmert und eingesetzt. Die verbleibenden Freiflächen wurden zugemauert.
%p
  Nachdem der Rohbau fertig war, wurde auch der Innenausbau des Lehrerzimmers abgeschlossen, alle elektrischen Leitungen verlegt und der Raum mit Bänken und Tischen ausgestattet. Danach wurde das Gebäude verputzt und schlussendlich in den Farben der gesamten Schule gestrichen. Die alten Betontafeln in den Klassenzimmern wurden durch neue, moderne Whiteboards ersetzt, welche das Lehren und Lernen nun wesentlich erleichtern.
= images 'projects/teachers-lounge'

%h4#bath-house
  Gemeinschafts-Badehaus and Trinkwasser-Versorgung
%p
  Mit der Planung dieses Projekts haben wie bereits im Frühjahr 2015 begonnen. Es beinhaltete die Errichtung eines Gemeinschafts-Badehauses und die Sicherung der Trinkwasser-Versorgung für Kyiase, ein Nachbardorf zu unserem Hauptsitz Kissi.
%p
  Wir haben dieses Projekt aus vier Projektbewerbungen, die wir erhalten haben, ausgewählt. Die Hauptkriterien waren der Nutzen und die positiven Effekte des Projekts für die Kinder, Frauen und auch körperbehinderten Bewohner der Gemeinschaft.
%p
  Kyiase ist eine Bauernschaft mit einer Population von ca. 2.800 Menschen, von denen die Mehrheit Frauen und Kinder sind.
%p
  Die Bewohner jagen hauptsächlich wilde Tiere oder arbeiten als Bauern auf dem Feld. Leider leiden die meisten Bewohner unter großer Armut and haben oft nicht genug zu essen.
%p
  Da es kein Netz von Wasserleitungen gibt, sind die Hygiene und das Abwassersystem große Probleme, die fast jedes Jahr zu Ausbrüchen von Cholera und Malaria führen. Das Badehaus und die Versorgung mit Trinkwasser sind ein großer Schritt, diese Probleme zu bekämpfen.
%p
  Ein weiteres Problem ist, dass die Kinder der Gemeinschaft morgens vor der Schule oft Wasser zum Baden von weit her transportieren müssen, bevor sie in die Schule gehen können, und daher oft Stunden zu spät kommen.
%p
  In der ersten Phase wurde der Rohbau für das Badehaus errichtet. Danach wurden in der zweiten Phase die Rohre verlegt und der Zementboden gegossen. In der letzten Phase wurde dann der Frischwasserzugang zur Haupt-Pipeline hergestellt, die Wasserspeicher installiert und Fliesen auf dem Boden und an den Wänden verlegt.
%p
  Die Rolle der Kyiase-Gemeinschaft bei diesem Projekt war es, Hilfsarbeiter zur Verfügung zu stellen. Future Hope People war verantwortlich für die Beschaffung der Rohmaterialien und Bezahlung der Facharbeiter, als auch für die Aufsicht des Projekts von Anfang bis Ende.
%p
  Nach knapp zweijähriger Bauzeit wurde das Projekt Anfang 2017 fertiggestellt. Das frische Wasser fließt und auch die Sanitäreinrichtungen sind wie geplant gebaut worden. Sie sind unterteilt in Bereiche für Frauen und für Männer. Neben der Möglichkeit zu duschen sind auch Toiletten und Waschbecken vorhanden. Draußen vor dem Gebäude befindet sich die Frischwasserzapfstelle, die eine Möglichkeit für die Dorfbewohner von Kyiase ist, frisches und vor allen Dingen sauberes Wasser für den Heimbedarf abzufüllen.
%p
  Am 1. September 2017 fand die offizielle, feierliche Eröffnung des Badehauses statt. Im Versammlungshaus von Kyiase trafen sich die geladenen Gäste und viele Menschen aus den umliegenden Dörfern und begannen die Veranstaltung mit Predigten des Priesters aus Kyiase. Nach der Vereidigung des Pflegepersonals des Badehauses, welches für den störungsfreien Ablauf dort zuständig sein wird, wurde der Schlüssel offiziell überreicht. Zugleich erhielten die beiden ortsansässigen Fußballteams von Kyiase komplette Trikotsätze, die Future Hope People dem Jugend Club gestiftet hat. In einer Prozession zum Badehaus, die von den Stammesältesten aus Kyiase und Umgebung angeführt wurde, zogen dann alle Gäste zum Badehaus. Die Feierlichkeiten klangen bei einem gemeinsamen Essen anschließend aus.
= images 'projects/bath-house'
%p
  Viele weitere Bilder dieses Projekts finden Sie auf
  = succeed '!' do
    = link_to 'unserer Facebook-Seite', 'https://www.facebook.com/pg/FutureHopePeople/photos/?tab=album&album_id=1028594653834545'

%h4#volunteer-house
  Freiwilligen-Haus
%p
  Seit Bestehen von Future Hope People haben wir vor Ort in Ghana viel Unterstützung durch freiwillige Helfer aus Deutschland und anderen Ländern erhalten. Als kleine Organisation hatten wir leider oft nur begrenzte Unterbringungsmöglichkeiten.
%p
  Dies haben wir im Jahr 2014 mit dem Bau eines eigenen Hauses für unsere Freiwilligen geändert. Hier haben die Freiwilligen eine vergleichsweise komfortable Unterkunft mit gut ausgestatteter Küche und Badezimmern nach europäischem Standard. Das Haus wird zudem als zentrales Büro von Future Hope People in Kissi genutzt.
= images 'projects/volunteer-house'
%p
  Mehr Bilder des Freiwilligenhauses finden Sie auf
  = succeed '.' do
    = link_to 'unserer Facebook-Seite', 'https://www.facebook.com/media/set/?set=a.806009309426415.1073741830.804793566214656'

%h4#computer-classrooms
  Computer-Klassenräume
%p
  Ähnlich dem Projekt der Computerschule in Kissi hat Future Hope People zwei Schulen in den benachbarten Dörfern Ahobre und Takinta mit Computern ausgestattet. Beide Schulen hatten Klassenräume zur Verfügung, die für die Computer genutzt werden konnten, wodurch keine neuen Räume angebaut werden mussten. Die Klassenräume wurden mit diebstahlsicheren Türen und Fenstern ausgestattet und elektrische Steckdosen wurden angelegt.
%p
  Im Juni 2013 endete das Projekt und die Computer-Klassenräume wurden bei einer Zeremonie den Schulen übergeben.
= images 'projects/computer-classrooms'

%h4#computer-school
  Computerschule
%p
  In den Jahren 2009 bis 2012 hat Future Hope People in dem Dorf Kissi eine Computerschule errichtet.
= images 'projects/computer-school'
%p
  Nachdem das Projekt im Jahr 2012 erfolgreich beendet wurde, wird die Computerschule nun von vier Schulen in der Umgebung genutzt und ermöglicht es den Schülern und Lehrern, den Umgang mit dem Computer und dem Internet zu erlernen. Dieses Schule ist in der Umgebung einzigartig, da nirgendwo sonst Schüler und Lehrer mit Computern lernen können.
%p
  Das Projekt bestand aus mehreren Stufen: nach dem erfolgreichen Rohbau im Jahr 2009 haben wir im Jahr 2010 mit der Ausstattung der Schule begonnen. Danach wurden die Computer, die von unserem Partner
  = link_to 'VzUO', 'http://www.vzuo.org/', title: 'Verein zur Unterstützung Osteuropas e.V.', target: '_blank'
  gespendet wurden, nach Ghana geschickt und in der Computerschule aufgebaut.
%p
  Die komplette Projektbeschreibung können Sie
  = link_to 'hier', '/documents/Future Hope People - Projektbeschreibung Computerschule.pdf', title: 'Future Hope People - Projektbeschreibung Computerschule', target: '_blank'
  einsehen.

%h4#school-furniture
  Tische und Stühle für eine Schule
%p
  Unser Bauprojekt im Jahr 2008 war die Herstellung von 120 Schulbänken und Tischen für die Kissi E/A School. Es konnte im September 2008 mit der Übergabe der Schulmöbel an die Schule erfolgreich abgeschlossen werden.
%p
  Hintergrund dieses Projektes war die unzureichende Anzahl von Sitzmöglichkeiten in den Klassen der Kissi E/A School. Viele Schüler mussten während des Unterrichts auf dem Boden sitzen. Mit den neuen Schulbänken hat nun jeder Schüler einen eigenen Sitzplatz und Tisch.
= images 'projects/school-furniture'
%p
  Alle Möbel wurden mit Hilfe der lokalen Schreinerei direkt in Kissi hergestellt. Future Hope People übernahm hierbei die Organisation und den Transport der Materialien. Die Projektkosten lagen bei ca. 2.200 Euro. Ein großes Dankeschön gilt alle Spendern und Förderern dieses Projektes.
%p
  Mehr über dieses Projekt erfahren Sie auch bei der
  = succeed '.' do
    = link_to 'Projekt-Seite bei Betterplace', 'https://www.betterplace.org/de/projects/284-schulen-helfen-heisst-bildung-ermoglichen', target: '_blank'

%h4#youth-club
  Jugendclub in Kissi
%p
  Future Hope People gründete 2008 in Zusammenarbeit mit der Kissi E/A Schule einen eigenen "Youth Club" (Jugendclub). Dort treffen sich zwei- bis dreimal wöchentlich ca. 25 Kinder und Jugendliche.
= images 'projects/youth-club'
%p
  Ziel und Zweck ist es, diesen Kindern einen festen Anlaufpunkt zu geben und zusammen eine sinnvolle Freizeitbeschäftigung zu organisieren. So werden neben Sport und Ausflügen auch lesen und schreiben geübt. Unter der Leitung von Herrn Smeed, einem freiwilligen Mitarbeiter von Future Hope People, wurde für das Yam-Festival auch eine Tanz-AG eingerichtet, die auf große Begeisterung stoß. Volontäre aus Deutschland unterstützen das Projekt regelmäßig und sind auch bei der Ausarbeitung und Umsetzung der Aktionen beteiligt.
%p
  Für die Zukunft ist geplant, das Konzept des Youth-Clubs auch auf eine andere Gemeinde der Umgebung zu übertragen.

%h4#sanitary-buildings
  Bau von Sanitäranlagen für zwei Schulen
%p
  Die Ausstattung der Schulen mit sanitären Einrichtungen ist in der Regel mangelhaft bzw. sie fehlt teilweise völlig. Fakt ist jedoch, dass Toiletten ebenso zu einem funktionierenden Schulbetrieb gehören wie Klassenräume. So war der Neubau von zwei Sanitäranlagen in den Schulen von Kissi und Takinta ein Projekt von Future Hope People. Beide Anlagen wurden im Jahre 2007 fertiggestellt.
= images 'projects/sanitary-buildings'

%h4#school-building
  Bau eines Schulgebäudes
%p
  Bildung ist überall auf der Welt ein kostbares Gut. In einem Entwicklungsland wie Ghana, in dem 38% der Bevölkerung unter 15 Jahre alt sind, kommt ihr eine besondere Bedeutung zu. Die Schulgebäude sind in der Regel einfach und zweckmäßig, meist befinden sich drei Klassenräume in einem ebenerdigen Gebäude. Die Klassenstärke liegt bei 50 Kindern und mehr. Leider mangelt es vielen Schulen der Region an geeigneten Räumlichkeiten, um den Unterricht durchzuführen.
= images 'projects/school-building'
%p
  Aus diesem Grund hat sich Future Hope People im Jahre 2005 entschlossen in Kissi, unserem Hauptstandort, ein dringend benötigtes Schulgebäude in Eigenregie zu bauen. Es beinhaltet 5 einzelne Klassenräume und ein Lehrerzimmer. Die Kosten für den Bau dieses Gebäudes beliefen sich auf ca. 10.000 Euro, einer Summe, die für unsere Verhältnisse für einen Schulneubau verschwindend gering erscheint, die finanziellen Möglichkeiten der Gemeinde allerdings völlig überfordert. Am 8. Juli 2006 wurde dieses Gebäude im Beisein des Staatsministers feierlich eingeweiht.
